<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <!-- 코드를 그대로 보여주는것 ? = /코드를 렌더링 하는것? -  -->
    <%- include('nav.ejs') %>
    <%= data.title %>
    <%= data.desc %>
    <a href="/list"></a>

</body>
</html>